{{/* 系列的列表文件 */}}

{{ define "main" }}
  <header>
    <!-- 面包屑 -->
    {{ partial "common/breadcrumbs.html" . }}
    <h1>
      {{ .Title }}
      {{ if and (or (eq .Kind "term") (eq .Kind "section")) site.Params.ShowRssButtonInSectionTermList }}
        {{ with .OutputFormats.Get "rss" }}
          <a href="{{ .RelPermalink }}" title="RSS" aria-label="RSS">{{ partial "common/svg.html" "rss" }}</a>
        {{ end }}
      {{ end }}
    </h1>
    {{ with .Description }}<div class="description">{{ markdownify . }}</div>{{ end }}
  </header>

  <!-- 得到系列文章(两个方案1.所有设置了seriesInfo的文章。2.series目录下的文章) -->
  {{/* $seriesPages := where site.RegularPages ".Params.seriesInfo" "!=" nil */}}
  {{ $seriesPages := where .RegularPages ".Params.seriesInfo" "!=" nil }}
  <!-- 根据id分组 -->
  {{ $seriesGroups := dict }}
  {{ $pages := slice }}
  {{ range $seriesPages }}
    {{ $id := .Params.seriesInfo.id }}
    {{ if not (isset $seriesGroups $id) }}
      {{ $seriesGroups = merge $seriesGroups (dict $id (slice .)) }}
    {{ else }}
      {{ $seriesGroups = merge $seriesGroups (dict $id ((index $seriesGroups $id) | append .)) }}
    {{ end }}
  {{ end }}
  <!-- 按照序号排序,获取每个key的第一项 -->
  {{ range $k,$v := $seriesGroups }}
    {{ $nv := sort $v ".Params.seriesInfo.order" }}
    {{ $pages = $pages | append (index $nv 0) }}
  {{ end }}
  <!-- 对文章进行权重/时间排序 -->
  {{ $pages = $pages | partial "pageSort" }}
  <!-- 分页 -->
  {{ $paginator := .Paginate $pages }}

  {{ partial "common/pageList.html" . }}

  <!-- 设置 css 引用 -->
  {{ .Store.Add "css" (slice "list")}}
{{ end }}
