<!-- 高亮代码简码模板
  参数：
  lang    (1) : 编程语言
  opt     (2) : 高亮操作
  isOpen  (3) ：是否关闭
  示例：
{{/*
    {{< highlight csharp "linenos=true,hl_lines=8 15-17,linenostart=199" true >}}code{{< / highlight >}}
    {{< highlight lang="csharp" opt="linenos=true,hl_lines=8 15-17,linenostart=199" isOpen=true >}}code{{< / highlight >}}
*/}}
 -->

{{ $type := "" }}
{{ $opt := "" }}
{{ $isOpen := true }}
{{ if .IsNamedParams }}
  {{ $type = .Get "lang" }}
  {{ $opt = .Get "opt"}}
  {{ $isOpen = .Get "isOpen" }}
{{ else }}
  {{ $type = .Get 0 }}
  {{ $opt = cond (ge (len .Params) 2) (.Get 1) "" }}
  {{ $isOpen = cond (ge (len .Params) 3) (not (.Get 2)) true }}
{{ end }}

{{ partial "common/codeBlock.html" (dict "isOpen" $isOpen "type" $type "content" (highlight (trim .InnerDeindent "\n\r") $type $opt)) }}
